@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  margin: 0;
  padding: 10vh 10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}
