#gif-matrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .image {
    cursor: pointer;
  }
}

#lightbox {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;

  .lightbox-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex: 0 0 100vw;

    .back,
    .next {
      visibility: hidden;
      font-size: 2em;
      color: #ffffff;
      cursor: pointer;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      color: white;

      .close {
        cursor: pointer;
      }
    }

    .center {
      max-width: 75vw;
      max-height: 75vh;
      display: flex;
      flex-direction: column;

      .img {
        object-fit: contain;
      }
    }
  }
}
